[submodule "ggml"]
    path = ggml
	url = https://github.com/ggml-org/ggml.git
[submodule "examples/server/frontend"]
	path = examples/server/frontend
	url = https://github.com/leejet/sdcpp-webui.git
[submodule "thirdparty/libwebp"]
	path = thirdparty/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "thirdparty/libwebm"]
	path = thirdparty/libwebm
	url = https://github.com/webmproject/libwebm.git
