
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", "Open Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

#container {
    width: 95%;
    margin: 0 auto;
}

.app-title {
    margin: 10px;
    text-align: center;
}

.input-text-field-box {
    position: relative;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #444;
}

.input-text-field-box input {
    font-size: 15px;
    border: none;
    width: 100%;
    outline: none;
    padding: 0 5px;
    background: none;
}

.input-text-field-box span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
    color: #817f7f;
    transform: translateY(-50%);
    z-index: 0;
    transition: 0.8s;
    pointer-events: none;
}

.input-text-field-box span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    background: rgb(53, 118, 255);
    background: -moz-linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    background: linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    transition: 0.8s;
}

.input-text-field-box .focus + span::before {
    font-weight: 100;
    font-size: 14px;
    top: -15px;
}

.input-text-field-box .focus + span::after {
    width: 100%;
}

.text-area-field-box {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #444;
}

.text-area-field-box textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    width: 100%;
    outline: none;
    padding: 0 5px;
    background: none;
    min-height: 100px;
    resize: none;
}

.text-area-field-box span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 15px;
    color: rgb(119, 119, 119);
    transform: translateY(-7%);
    z-index: 0;
    transition: 0.8s;
    pointer-events: none;
}

.text-area-field-box span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    background: rgb(53, 118, 255);
    background: -moz-linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    background: linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    transition: 0.8s;
}

.text-area-field-box .focus + span::before {
    font-weight: 100;
    font-size: 14px;
    top: -20px;
}

.text-area-field-box .focus + span::after {
    width: 100%;
}

.range-slider {
    margin: 20px 0 0 0;
    width: 100%;
}

.range-slider__range {
    appearance: none;
    width: calc(100% - 50px);
    height: 2px;
    border-radius: 1px;
    background-color: #188dd0;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(4, 76, 192);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    width: 20px;
    height: 20px;
    background: rgb(5, 120, 235);
}

.range-slider__value {
    display: inline-block;
    margin-left: 5px;
    width: 40px;
    font-size: 15px;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.col {
    padding: 5px;
    border: none;
}

.row-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.row-gen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.check-field {
    margin-top: 10px;
}

.check-field .checkbox-input {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.check-field .checkbox-input::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.check-field .checkbox-input,
.check-field .checkbox-input::after {
    transition: all 100ms ease-out;
}

.check-field .checkbox-input::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.check-field input[type=checkbox] {
    cursor: default;
}

.check-field .checkbox-input:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.check-field .checkbox-input:checked {
    background-color: #6e79d6;
}

.check-field .checkbox-input:checked::after {
    background-color: #fff;
    left: 13px;
}

.check-field :focus:not(.focus-visible) {
    outline: 0;
}

.check-field .checkbox-input:checked:hover {
    background-color: #535db3;
}

.check-field span {
    margin-left: 5px;
    color: rgb(119, 119, 119);
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 15px;
    color: #60666d;
}

.select-current {
    position: relative;
    box-shadow: 0 5px 8px -5px rgba(64, 64, 66, 120);
    cursor: pointer;
    outline: none;
}

.select-current:focus + .select-list {
    opacity: 1;
    animation-name: none;
}

.select-current:focus + .select-list .select-option {
    cursor: pointer;
}

.select-current:focus .select-arrow {
    transform: translateY(-50%) rotate(180deg);
}

.select-box .select-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 18px;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select-value {
    display: flex;
}

.select-input {
    display: none;
}

.select-input:checked + .select-input-text {
    display: block;
}

.select-input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #fff;
}

.select-list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    z-index: 999;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 5px 8px -5px rgba(64, 64, 66, 120);
    max-height: 15rem;
    overflow-y: scroll;
}

.select-option {
    display: block;
    padding: 10px;
    background-color: #fff;
}

.select-option:hover,
.select-option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.progress-background {
    display: none;
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: transparent;
}

.show-progress {
    display: block;
    background: linear-gradient(to bottom, rgba(49, 52, 53, 0.805), transparent);
}

.progress-steps {
    display: none;
    font-size: 13px;
    height: 5rem;
    margin: 0;
    padding-top: 15px;
    border-radius: 5px;
}

.show-steps {
    display: block;
}

.progress-steps li {
    list-style: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
    color: white;
}

.progress-steps li::before {
    content: attr(data-state);
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    border-top: transparent;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    border-radius: 50%;
    line-height: 30px;
}

.progress-steps .waiting::before {
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.progress-steps li::after {
    width: 86%;
    content: '';
    position: absolute;
    height: 2px;
    top: 15px;
    z-index: 99;
    left: -43%;
    background-color: #ddd;
    transition: all 1s ease;
}

.progress-steps li:first-child::after {
    content: none;
}
.progress-steps li.ready {
    color: #06bb06;
}
.progress-steps li.ready::before {
    border: 2px solid #06bb06;
}
.progress-steps li.ready + li::after {
    background-color: #06bb06;
}

.button-holo {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 4px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 0.2s ease;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    z-index: 0;
}

.button-holo:not(:disabled):hover {
    background: #F6F9FE;
    color: #174ea6;
    box-shadow: rgba(0, 0, 0, .2) 0 4px 8px -2px,rgba(0, 0, 0, .18) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.button-holo:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-holo:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-holo svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.image-gallery {
    padding: 5px;
}

.image-gallery img {
    border-radius: 5px;
}

.image-gallery .preview {
    display: inline-block;
    max-height: 100%;
    margin: 1%;
}

.image-gallery .image-preview {
    height: 85%;
}

.image-preview img {
    height: 100%;
}

.image-info {
    display: none;
}

.show-info {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to bottom, black, transparent);
}

.image-gallery ul {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    list-style: none;
    padding: 1%;
    max-height: 100%;
    overflow-y: scroll;
}

.image-gallery li {
    width: 100%;
}

.image-gallery li img {
    width: 100%;
}

.image-gallery li .selected {
    border: 2px solid #0363f2;
}

.modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 0px;
    background: rgba(51, 51, 51, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.modal-container {
    display: flex;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #fff;
    transform: translateY(100px) scale(0.4);
}

.modal-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: #55311c;
}

.modal-desc {
    margin: 6px 0 6px 0;
}

.modal-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
}

.modal.is-open {
    height: 100%;
    background: rgba(51, 51, 51, 0.85);
}

.modal.is-open .modal-container {
    opacity: 1;
    transition-duration: 0.6s;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}

.modal.is-open .modal-left {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
}

.icon-button {
    outline: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
    color: #000000;
}

@media (max-width: 750px) {
    .modal-container {
        width: 90%;
    }

    .modal-right {
        display: none;
    }
}

.image-drag-drop {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 4px -1px,rgba(0, 0, 0, .14) 0 2px 3px 0,rgba(0, 0, 0, .12) 0 1px 4px 0;
}

.image-drag-drop-showing {
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 4px -1px,rgba(0, 0, 0, .14) 0 2px 3px 0,rgba(0, 0, 0, .12) 0 1px 4px 0;
    height: 20rem;
}

.image-prev-dd {
    width: 100%;
}

.image-prev-dd img {
    height: 90%;
    padding: 1%;
}

.image-prev-dd span {
    display: block;
    height: 100%;
    text-align: center;
}

.image-drag-drop span {
    margin-left: 5px;
    color: rgb(119, 119, 119);
}