* {
    box-sizing: border-box;
    --dark-bg: #1b1919;
    --dark-span: #c3bebe;
    --height-params: calc(82px + 3.34rem);
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", "Open Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: hidden;
}

#app-viewport {
    height: 100vh;
}

.container {
    width: 98%;
    margin: 0 auto;
    max-height: 100vh;
}

.app-title {
    margin: 10px;
    text-align: center;
}

.input-text-field-box {
    position: relative;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #444;
}

.input-text-field-box input {
    font-size: 15px;
    border: none;
    width: 100%;
    outline: none;
    padding: 2px 5px;
    min-height: 1rem;
    background: none;
}

.input-text-field-box span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 15px;
    color: #817f7f;
    transform: translateY(-50%);
    z-index: 0;
    transition: 0.8s;
    pointer-events: none;
}

.input-text-field-box span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    background: rgb(53, 118, 255);
    background: -moz-linear-gradient(
        90deg,
        rgba(53, 118, 255, 1) 0%,
        rgba(68, 68, 196, 1) 27%,
        rgba(0, 44, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(53, 118, 255, 1) 0%,
        rgba(68, 68, 196, 1) 27%,
        rgba(0, 44, 255, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(53, 118, 255, 1) 0%,
        rgba(68, 68, 196, 1) 27%,
        rgba(0, 44, 255, 1) 100%
    );
    transition: 0.8s;
}

.input-text-field-box .focus + span::before {
    font-weight: 100;
    font-size: 14px;
    top: -15px;
}

.input-text-field-box .focus + span::after {
    width: 100%;
}

.text-area-field-box {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #444;
}

.text-area-field-box textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    width: 100%;
    outline: none;
    padding: 5px 5px;
    background: none;
    min-height: 6rem;
    resize: none;
}

.text-area-field-box span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
    color: rgb(119, 119, 119);
    transform: translateY(-7%);
    z-index: 0;
    transition: 0.8s;
    pointer-events: none;
}

.text-area-field-box span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    background: rgb(53, 118, 255);
    background: -moz-linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    background: linear-gradient(
    90deg,
    rgba(53, 118, 255, 1) 0%,
    rgba(68, 68, 196, 1) 27%,
    rgba(0, 44, 255, 1) 100%
    );
    transition: 0.8s;
}

.text-area-field-box .focus + span::before {
    font-weight: 100;
    font-size: 14px;
    top: -20px;
}

.text-area-field-box .focus + span::after {
    width: 100%;
}

.range-slider {
    margin: 20px 0 0 0;
    width: 100%;
}

.range-slider__range {
    appearance: none;
    width: calc(100% - 50px);
    height: 2px;
    border-radius: 1px;
    background-color: #188dd0;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(4, 76, 192);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    width: 20px;
    height: 20px;
    background: rgb(5, 120, 235);
}

.range-slider__value {
    display: inline-block;
    margin-left: 5px;
    width: 40px;
    font-size: 15px;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.col {
    padding: 5px;
    border: none;
}

.row-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.params {
    overflow-y: scroll;
    transition: ease all 0.4s;
    /* title css layout */
    max-height: calc(100vh - 2.67rem - 0.67rem);
}

.row-gen {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.btn-download {
    margin: 5px;
    cursor: pointer;
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 0;
    opacity: 0;
    padding: 0px;
    appearance: none;
    align-items: center;
    border-style: none;
    user-select: none;
    background: transparent;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.2s ease;
    justify-content: center;
    text-transform: none;
}

.btn-download svg {
    width: 1.7rem;
    height: 1.7rem;
}

.btn-download:hover svg {
    width: 2rem;
    height: 2rem;
    transition: all 0.3s ease-in;
}

.show-btn-dl {
    opacity: 1;
}

.check-field {
    margin-top: 10px;
    font-size: 15px;
    align-items: center;
}

.check-field .checkbox-input {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.check-field .checkbox-input::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.check-field .checkbox-input,
.check-field .checkbox-input::after {
    transition: all 100ms ease-out;
}

.check-field .checkbox-input::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.check-field input[type=checkbox] {
    cursor: default;
}

.check-field .checkbox-input:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.check-field .checkbox-input:checked {
    background-color: #1e2fc5;
}

.check-field .checkbox-input:checked::after {
    background-color: #fff;
    left: 13px;
}

.check-field :focus:not(.focus-visible) {
    outline: 0;
}

.check-field .checkbox-input:checked:hover {
    background-color: #2537d7;
}

.check-field span {
    margin-left: 5px;
    height: 10px;
    color: rgb(119, 119, 119);
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 15px;
}

.select-current {
    position: relative;
    box-shadow: 0 5px 8px -5px rgba(64, 64, 66, 120);
    cursor: pointer;
    outline: none;
}

.select-current:focus + .select-list {
    opacity: 1;
    animation-name: none;
}

.select-current:focus + .select-list .select-option {
    cursor: pointer;
}

.select-current:focus .select-arrow {
    transform: translateY(-50%) rotate(180deg);
}

.select-box .select-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 18px;
    opacity: 0.6;
    transition: 0.2s ease;
}


.select-box span {
    display: block;
    margin-bottom: 0.6rem;
}

.select-value {
    display: flex;
}

.select-input {
    display: none;
}

.select-input:checked + .select-input-text {
    display: block;
}

.select-input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.select-list {
    position: absolute;
    width: 100%;
    padding: 0;
    margin-top: 0px;
    list-style: none;
    opacity: 0;
    z-index: 999;
    animation-name: HideList;
    animation-duration: 0.6s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 5px 8px -5px rgba(64, 64, 66, 120);
    max-height: 10rem;
    transition: ease-in all 0.4s;
    overflow-y: scroll;
}

.select-option {
    display: block;
    padding: 10px;
    transition: ease all 0.3s;
    background: white;
}

.select-option:hover,
.select-option:focus {
    color: #255ae0;
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: #f0efef;
}

.indeterminate {
    background: linear-gradient(to right, #f0efef 30%, #4248f6 50%,#f0efef 70%);
    background-size: 200% 200%;
    animation: Animation 1s linear infinite;
}

.progress-bar::before {
    width: var(--porcent-prog, 0%);
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    background-color: #0363f2;
}

.progress-text {
    font-size: 14px;
    text-align: center;
}

@keyframes Animation {
    0% {
        background-position: 150% 50%;
    }
    99.9999% {
        background-position: -50% 50%;
    }
    100% {
        background-position: 150% 50%;
    }
}


.button-holo {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 4px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 0.2s ease;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    z-index: 0;
}

.button-holo:not(:disabled):hover {
    background: #F6F9FE;
    color: #174ea6;
    box-shadow: rgba(0, 0, 0, .2) 0 4px 8px -2px,rgba(0, 0, 0, .18) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.button-holo:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-holo:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-holo svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.image-gallery {
    padding: 5px;
    height: calc(100vh - var(--height-params));
    max-height: calc(100vh - var(--height-params));
    overflow: hidden;
    margin-top: 15px;
}

.image-gallery .images {
    vertical-align: top;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.image-gallery .item {
    display: inline-block;
    width: calc(25% - 0.4rem);
    padding: 0.1rem 0.1rem;
    overflow: hidden;
}

.image-gallery .not-available {
    position: relative;
}

.image-gallery .not-available::before {
    position: absolute;
    top: 3px;
    left: 3px;
    content: '';
    background: linear-gradient(to right, transparent 15%, #e7e7e7 50%, transparent 85%);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    z-index: 1;
    background-size: 200% 200%;
    animation: Animation 1s ease-in infinite;
}

.image-gallery .processing-this::after {
    display: block;
    position: absolute;
    top: -50%;
    left: -50%;
    content: '';
    z-index: -1;
    background: linear-gradient(to right, transparent, #1b63f2 50%, transparent);
    width: 100%;
    height: 100%;
    transform-origin: bottom right;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.image-gallery .item img {
    width: 100%;
}

.modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 0px;
    background: rgba(51, 51, 51, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    z-index: 2;
}

.modal-container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    transform: translateY(100px) scale(0.4);
    background: white;
}

.modal-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
}

.modal-desc {
    margin: 6px 0 6px 0;
}

.modal-left {
    padding: 60px 30px 20px;
    flex: 1;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
}

.modal-right {
    flex: 4;
    height: 80vh;
    font-size: 0;
    transition: 0.3s;
    margin: 0;
    background: radial-gradient(#015e97, #190f11);
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}


.modal-right img {
    height: 100%;
    transform: scale(2);
    -o-object-fit: cover;
       object-fit: cover;
    transition-duration: 1.2s;
}

.modal.is-open {
    height: 100%;
    background: rgba(51, 51, 51, 0.85);
}

.modal.is-open .modal-container {
    opacity: 1;
    transition-duration: 0.6s;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}

.modal.is-open .modal-left {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
}

.modal.is-open .modal-right img {
    transform: scale(1);
}

.icon-button {
    outline: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
    fill: currentColor;
}

.modal-container-preview {
    border-radius: 10px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    transform: translateY(100px) scale(0.4);
    background: white;
}

.modal-left-preview {
    display: grid;
    padding: 10px 20px;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
    grid-template-columns: 3fr 1fr 1fr;
}

.modal-right-preview {
    height: 75vh;
    font-size: 0;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    background: radial-gradient(#5199c7, #161616);
}

.modal-right-preview img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.modal.is-open .modal-container-preview {
    opacity: 1;
    transition-duration: 0.6s;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}

.modal.is-open .modal-left-preview {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
}

@media (max-width: 750px) {
    .modal-container {
        width: 90%;
    }

    .modal-right {
        display: none;
    }
}

.image-drag-drop {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 4px -1px,rgba(0, 0, 0, .14) 0 2px 3px 0,rgba(0, 0, 0, .12) 0 1px 4px 0;
}

.image-drag-drop-showing {
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 4px -1px,rgba(0, 0, 0, .14) 0 2px 3px 0,rgba(0, 0, 0, .12) 0 1px 4px 0;
    height: 20rem;
}

.image-prev-dd {
    width: 100%;
}

.image-prev-dd img {
    height: 90%;
    padding: 1%;
}

.image-prev-dd span {
    display: block;
    height: 100%;
    text-align: center;
}

.image-drag-drop span {
    margin-left: 5px;
    color: rgb(119, 119, 119);
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.dark-mode {
    background-color: #000000;
    color: white;
}

.dark-mode .button-holo {
    background-color: var(--dark-bg);
    color: white;
    box-shadow: 3px 4px 8px #f3f2f255;
}

.dark-mode .button-holo:hover {
    background-color: #2d2d2d;
    color: white;
    box-shadow: 3px 4px 8px #f3f2f270;
}

.dark-mode .input-text-field-box {
    background-color: var(--dark-bg);
}

.dark-mode .range-slider span {
    color: var(--dark-span);
}

.dark-mode .input-text-field-box input {
    color: white !important;
}

.dark-mode .input-text-field-box span::before {
    color: var(--dark-span);
}

.dark-mode .text-area-field-box span::before {
    color: var(--dark-span);
}

.dark-mode .text-area-field-box textarea {
    color: white;
    background-color: var(--dark-bg);
}

.dark-mode .check-field .checkbox-input {
    background-color: #282424;
}

.dark-mode .check-field span {
    color: var(--dark-span);
}

.dark-mode .check-field .checkbox-input:checked {
    background-color: #03a2f2;
}

.dark-mode .check-field .checkbox-input:checked::after {
    background-color: #000000;
}

.dark-mode .check-field .checkbox-input:checked::after {
    background-color: #000000;
}

.dark-mode .modal-container {
    color: white;
    background: black;
}

.dark-mode .modal-container-preview {
    color: white;
    background: black;
}

.dark-mode .modal-container-preview .icon-button{
    color: white;
}

.dark-mode .modal-container .icon-button {
    color: white;
}

.dark-mode .select-box {
    color: white;
}

.dark-mode .select-input-text {
    background: var(--dark-bg);
}

.dark-mode .select-box span {
    color: var(--dark-span);
}

.dark-mode .select-box .select-option {
    background: var(--dark-bg);
}

.dark-mode .select-box .select-option:hover {
    color: #03a2f2;
}

.dark-mode .select-current  {
    box-shadow: 4px 2px 8px #f3f2f22a;
}

.dark-mode .progress-bar {
    background: #797979;
}

.dark-mode .indeterminate {
    background: linear-gradient(to right, #1d1d1d 30%, #4693f8 50%, #1d1d1d 70%);
    background-size: 200% 200%;
    animation: Animation 1s linear infinite;
}

@media only screen and (max-width: 1300px) {
    .image-gallery .item {
        width: calc(50% - 0.4rem);
        padding: 0.3rem 0.2rem;
    }
}

@media only screen and (max-width: 1300px) and (max-height: 700px) {
    .image-gallery .item {
        width: calc(50% - 0.6rem);
        padding: 0.3rem 0.2rem;
    }
}

@media only screen and (max-width: 1300px) and (max-height: 500px) {
    .image-gallery .item {
        width: calc(50% - 0.6rem);
        padding: 0.3rem 0.2rem;
    }
}